# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Application artifacts
downloads/
*.log

# OS & IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/

# Security & Node
cookies.txt
node_modules/
package-lock.json
package.json
 